a {
    color: #666;
    text-decoration: none;
}

.white { color: white; }
.black { color: black; }

.mdl-list__item.category * {
    color: #BBBBBB;
    padding-left: 30px;
    text-transform: uppercase;
}

.mdl-list__item.mdl-button {
    padding: 0 0 0 30px;
    text-align: left;
    text-transform: none;
    width: 100%;
}

.current { color: blue; }
.hide { display: none; }

h3.page { margin-bottom: 0; }
h4.page {
    font-size: 19px;
    margin-top: 0;
}