---
layout: default
---

<h2>Introdução</h2>
<p>Contém as APIs para integração com o PMove</p>

{% for page in site.pages %}
{% if page.resource == true %}
{{ page.categories }}
{% endif %}
{% endfor %}
{% for category in site.default_categories %}
<ul class="jekmdl-post-list">
    <li class="mdl-list__item"><strong>{{ category.upcase }}</strong></li>
</ul>
{% endfor %}
<!--
{% for page in site.pages %}
{% if page.resource == true && page.categories contains category %}
<li class="mdl-list__item"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
-->