{{ site.data[include.data][include.key] }}

<table class="mdl-data-table mdl-js-data-table">
    <thead>
    <tr>
        {% for header in site.data[include.data][include.key].header %}
        <th class="mdl-data-table__cell--non-numeric"><strong>{{ header }}</strong></th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for body in site.data[include.data][include.key].body %}
    <tr>
        {% for cell in body %}
        <td class="mdl-data-table__cell--non-numeric">{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>