<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{ site.title }}</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <form action='{{ "/search.html" | prepend: site.baseurl }}' method='get' name='searchform'>
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="search" name="q" placeholder="Digite" />
                    </div>
                </form>
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ site.title }}</span>
        <nav class="mdl-navigation">
            {% for category in site.default_categories %}
                <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item"><strong>{{ category }}</strong></li>
                    {% for post in site.categories[category] %}
                        <li class="mdl-list__item"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </nav>
    </div>
</div>